<div id="contact" style="background: rgb(0, 5, 49); color: white; margin-top:30px" class="container-fluid">
    <h2 class="text-center" style="color: white;" >CONTACT</h2>
    <div class="row justify-content-center">
      <div class="col-sm-5">
        <p>You can reach us 24/7!</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Bangalore, Karnatake</p>
        <p><span class="glyphicon glyphicon-phone"></span> +91 538 779 25 69</p>
        <p><span class="glyphicon glyphicon-envelope"></span> info@carRental.com.tr</p>
      </div>
      <div class="col-sm-6 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>